.banner {
    height: 95vh;
    object-fit: cover;
}

.clr{
    color: rgb(15, 132, 179);
}

.img{
    height: 220px;
}

.text{
    color: rgb(15, 132, 179);
    letter-spacing: 1px;
}


@media only screen and (max-width: 798px)  {
    .banner{
        height: 50vh;
    }
}